// @import "mapa";
// Custom.scss
// Option A: Include all of Bootstrap
$borde-claro: #474747
$shadow-borde-claro: #A1A1A1
$card-body-claro: #939393


$card-bg: $card-body-claro
$card-border-color: $borde-claro
$card-border-width: 2px
$card-box-shadow: 10px 5px 5px $shadow-borde-claro
// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap"
// Then add additional custom code here
#map
    width: 50%
    height: 500px
    box-shadow: 5px 5px 5px #888
.card
    display: inline
.card-title
    display: inline
.btn-close
    display: inline
.card-body
    display: flex
    justify-content: center