// @import "mapa";
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap"

// Then add additional custom code here
#map
    width: 50%
    height: 720px
    box-shadow: 5px 5px 5px #888
.card
    width: 100px
    display: inline
.card-title
    display: inline
.btn-close
    display: inline